/*Lab 2 Elin Ronda*/

body {
font-family: Arial, Helvetica, sans-serif;
}


#sortCode, #sortName, #sortProgression {
  cursor: pointer;
  text-decoration: underline;
  text-align: left;
}

table {
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border-bottom: 0.5px solid #ddd;
}

input {
  padding: 10px;
 min-width: 300px;
}